
#titulo_principal {
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
}

#titulo_principal {
    font-weight: bold;
    font-family: 'Righteous', cursive;
    font-size: xxx-large;
}


body {
    text-align: justify;
    font-size: large;
    background: #e5b689;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background: #e18a3a;

    font-size: large;
    padding: 5px;
    border: black 1px solid;
}

main {
    font-size: 20px;
    text-align: justify;

}

#pareja-comiendo {

    float: left;

}

#ver-restaurantes {
    text-align: center;
    background-color: #ff8000;
    font-size: large;
    padding: 20px;
    border: black 1px solid;

}

a:link, a:visited {
    color: black;
}

#blackpan , #molly {
    text-align: left;
}

#imgblackpan, #imgmolly {
    float: left;
    padding: 3px;
    border: black 1px solid;
}

#hoppiness, #wonder {
    text-align: left;
}

#imghoppiness , #imgwonder{
    float: left;
    padding: 3px;
    border: black 1px solid;
}


.blackpan, .hoppiness, .moly , .wonder{
    display: flex;
}

#mapas{
    float: right;
    margin-top: 30px;
    margin-right: 50px;

}

#fotoLocalhop{
    margin-left: 50px;
    margin-right: 400px;
    display: flex;
    justify-content: space-between;
}

article{
    column-count: 1;
    column-gap:100px;
    margin-left: 50px;
    margin-right: 450px;
}
.fotoformasdepago{
    display: flex;
}
