
#titulo_principal {
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    font-size: xxx-large;
}

body {
    text-align: justify;
    font-size: large;
    background: #e5b689;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background: #e18a3a;
    font-size: large;
    padding: 5px;
    border: black 1px solid;
}

main {
    font-size: 19px;
    text-align: justify;
    margin-left: 60px;
    margin-right: 50px;

}

.option {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Poppins', cursive;
}

#pareja-comiendo {

    float: left;

}

.boton {
    font-size: 20px;
    line-height: 50px;
    width: 100px;
    height: 50px;
}

#boton{
    text-align: center;
}

#ver-restaurantes {
    margin-left: 250px;
    background-color: #ff8000;
    font-size: large;
    padding: 20px;
    border: black 1px solid;

}

.atras {
    text-align: center;
    background-color: #ff8000;
    font-size: large;
    padding: 5px;
    border: black 1px solid;

}

.pagar{
    margin-left: 555px;
    font-weight: bolder;
    background-color: #ff8000;
    font-size: x-large;
    padding: 5px;
    border: black 1px solid;

}
.Tarjetas{

    margin-left: 100px;
    width: 100px;
    font-weight: bolder;
    background-color: #ff8000;
    font-size: x-large;
    padding: 5px;
    border: black 1px solid;
}
.Efectivo{
    width: 100px;
    font-weight: bolder;
    background-color: #ff8000;
    font-size: x-large;
    padding: 5px;
    border: black 1px solid;
}


a:link, a:visited {
    color: black;
}

#blackpan, #molly, #hoppiness, #wonder, .menu {
    text-align: left;
}

#imgblackpan, #imgmolly, #imghoppiness, #imgwonder {
    float: left;
    padding: 3px;
    border: black 1px solid;
}

.blackpan, .hoppiness, .moly, .wonder {
    display: flex;
}


.hamburguesas {
    float: left;
    padding: 3px;
    border: black 1px solid;
}

.mapas {
    float: right;
    margin-top: 30px;
    margin-right: 50px;

}

.fotoLocal {
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}

article {
    column-count: 1;
    column-gap: 100px;
    margin-right: 450px;
}

.tipodeham {
    font-size: 18px;
    line-height: 15px;
    width: 150px;
    height: 50px;
}

.cantidad {
    font-size: 15px;
    line-height: 15px;
    width: 100px;
    height: 20px;
}

.fotoformasdepago {
    float: left;
    display: flex;

}
.tar{
    margin-top: 200px;
}




.cantblack3, .fotoformasdepago {
    margin-top: 40px;
    text-align: left;
}

.canthoppi2 {
    margin-top: 45px;
}

.canthoppi1, .canthoppi3, .cantmolly2 {
    margin-top: 20px;
}

.cantmolly3, .cantwonder1, .cantwonder2, .cantwonder3 {
    margin-top: 15px;
}


.efectivo {
    margin-top: 20px;
}

.tar-efec{
    text-align: center;
    margin-left: 70px;
}

.totalfp{
    font-weight: bold;
    text-align: center;

    margin-top:50px;
}

#atrasfp{
    margin-top: 100px;
    float: left;
}

.ejer{
    border:1px solid #000000;
    background: rgba(240, 255, 105, 0.47);
}

h3{
    text-decoration: underline;
}
.hamb{
    border:1px solid #000000;
    background: rgb(229, 182, 137);
    margin-top: 150px;
}

