#titulo_restaurantes{
    font-weight:  bold;
    font-family: 'Righteous', cursive;
    font-size: xxx-large;
}

body{
    text-align: justify;
    font-size: large;
    background: #e5b689;

}
header{
     text-align: center;
     background: #e18a3a;
 }

#blackpan{
    text-align: left;
}
#imgblacpan{
    float: left;
}

#hoppiness{
    text-align: right;
}
#imghoppiness{
    float: right;
}

#molly {
    text-align: left;
}
#wonder{
    text-align: right;
}