.blackpan{
    display: flex;
}
.hoppiness{
    display: flex;
}
.molly{
    display: flex;
}
.wonder{
    display: flex;
}

#blackpan{
    text-align: left;
}
#imgblacpan{
    float: left;
}

#hoppiness{
    text-align: right;
}
#imghoppiness{
    float: right;
}

#molly {
    text-align: left;
}
#wonder{
    text-align: right;
}